@model List<ESC.Infrastructure.ComboxDataItem>
@{
    ViewBag.Title = "SearchUnitView";
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}
<div id="UnitForm">
    <ul class="bui-search-ul">
        <li class="bui-inline-block">
            <label>编码：</label>
            <span>
                <input type="text" class="form-control" name="UnitCode" />
            </span>
        </li>
        <li class="bui-inline-block">
            <label>名称：</label>
            <span>
                <input type="text" class="form-control" name="UnitName" />
            </span>
        </li>
        <li class="bui-inline-block">
            <label>类型：</label>
            <span>
                <select class="form-control" name="UnitType">
                    <option selected="selected" value="">全部</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.value">@item.text</option>
                    }
                </select>
            </span>
        </li>       
        <li class="bui-inline-block">
            <span id="UnitBtns" class="SearchBtns">
                <button id="btnSearch" class="btn btn-default" style="padding-right:5px;"><i class="fa fa-search"></i>查询</button>
            </span>
        </li>
    </ul>
</div>
<div id="UnitGrid">
</div>
<script type="text/javascript">
    var common = new CommonBUI({ controller: "BUnit", SearchForm: "#UnitForm", DataGrid: "#UnitGrid" });
    var bGrid = null;

    //查询
    common.search = function () {
        var whereItems = BuiForm.GetWhereItems(common.SearchForm, common);
        common.Select(whereItems, 0, 0, function (result) {
            bGrid.setResult(result);
        });
    }

    //初始化grid
    function initGrid(iData) {
        bGrid = new BUIGrid({
            render: common.DataGrid,
            common: common
        });
        //分页查询
        bGrid.OnPageSearch = function (pageIndex, pageSize) {
            var whereItems = BuiForm.GetWhereItems(common.SearchForm, common);
            common.Select(whereItems, pageIndex, pageSize, function (result) {
                bGrid.setResult(result);
            });
        }
        bGrid.init();
        common.search();
    }

    //获取返回值
    function getData() {
        return bGrid.getSelected();
    }

    $(document).ready(function () {
        //初始化
        common.Init(function (iData) {
            //初始化grid
            initGrid(iData);
        });

        //查询
        $("#btnSearch").click(function () {
            common.search();
        });

        //绑定回车查询
        $(common.SearchForm).find("input:text").keyup(function (e) {
            if (e.which == BUI.KeyCode.ENTER) {
                common.search();
            }
        });
    });

</script>


