@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}
@model  List<ESC.Infrastructure.DomainObjects.SResource>

<div id="resource-layout" class="bui-view-port bui-border-layout">
    <div class="bui-layout-border">
        <div class="bui-border-top">
            <div id="resource-layout-north" class="bui-border-north bui-layout-item-border">
                <table id="ResourceForm" style="border-collapse:separate;" width="100%">
                    <tr>
                        <td align="right" style="padding:5px;">
                            名称
                        </td>
                        <td style="padding:5px;">
                            <input class="form-control" type="text" name="ResourceName" style="width: 180px;" />
                        </td>
                        <td align="right" style="padding:5px;">
                            资源路径
                        </td>
                        <td style="padding:5px;">
                            <input class="form-control" type="text" name="ResourceURL" style="width: 180px;" />
                        </td>
                        <td align="right" style="padding:5px;">
                            描述
                        </td>
                        <td style="padding:5px;">
                            <input class="form-control" type="text" name="ResourceDesc" style="width: 180px;" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="padding:5px;">
                            父资源
                        </td>
                        <td style="padding:5px;">
                            <select class="form-control" name="ParentID" style="width: 180px;">
                                <option value="0">请选择</option>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <option value="@Model[i].ID">@Model[i].ResourceDesc</option>
                                }
                            </select>

                        </td>
                        <td align="right" style="padding:5px;">
                            排序
                        </td>
                        <td style="padding:5px;">
                            <input class="form-control" type="text" name="OrderIndex" style="width: 180px;" />
                        </td>
                        <td colspan="2">
                            <input name="ID" type="hidden" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bui-border-middle">
            <div id="resource-layout-center" style="overflow-y:auto;" class="bui-border-center bui-layout-item-border">
                <div id="OperatorGrid">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var common = new CommonBUI({ controller: "SResource", DataGrid: "#OperatorGrid" });
    var oGrid;

    //初始化布局
    function initLayout() {
        var layoutControl = new BUI.Layout.BuiLayout({
            srcNode: "#resource-layout",
            children: [{
                srcNode: "#resource-layout-north",
                xclass: 'controller',
                region: 'north',
                height: 90
            }, {
                srcNode: "#resource-layout-center",
                xclass: 'controller',
                region: 'center'
            }]
        });
        layoutControl.render();
    }

    //初始化grid
    function initGrid(initData) {
        oGrid = new BUIGrid({
            render: common.DataGrid,
            common: common,
            pager: false,
            editable: true
        });
        oGrid.init();
    }

    function getData() {
        var obj = BuiForm.GetFormControl("#ResourceForm");
        if (BUI.isNullOrEmpty(obj.ResourceName)) {
            CommonBUI.alert("提示", "请输入名称.");
            return false;
        }
        if (BUI.isNullOrEmpty(obj.ResourceURL)) {
            CommonBUI.alert("提示", "请输入资源路径.");
            return false;
        }
        if (BUI.isNullOrEmpty(obj.ResourceDesc)) {
            CommonBUI.alert("提示", "请输入描述.");
            return false;
        }
        if (BUI.isNullOrEmpty(obj.OrderIndex)) {
            CommonBUI.alert("提示", "请输入排序.");
            return false;
        }
        if (!BUI.isNumeric(obj.OrderIndex)) {
            CommonBUI.alert("提示", "请输入正确的排序.");
            return false;
        }
        var oprs = oGrid.getResult();
        if (oprs) {
            obj.Operators = oprs;
        } else {
            return false;
        }
        return obj;
    }

    $(document).ready(function () {
        //初始化布局
        initLayout();

        //外键初始化
        common.ForeignInit("OPerator", function (fdata) {
            common.initData = fdata;
            initGrid();
        });
    });

</script>
