@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="resource-layout" class="bui-view-port bui-border-layout">
    <div class="bui-layout-border">
        <div class="bui-border-middle">
            <div id="resource-layout-west" style="width:200px;border-right:2px solid #ddd" class="bui-border-west bui-layout-item-border">
            </div>
            <div id="resource-layout-center" style="overflow-y:auto;" class="bui-border-center bui-layout-item-border">
                <div id="SResourceBtns" class="SearchBtns" style="width:100%;border:1px solid #ddd;">
                </div>
                <div id="SResourceForm" class="bui-clear">
                    <table style="border-collapse:separate;" width="100%">
                        <tr>
                            <td align="right" style="padding:5px;">
                                名称
                            </td>
                            <td style="padding:5px;">
                                <input class="form-control" readonly="readonly" name="ResourceName" style="width: 180px;" />
                            </td>
                            <td align="right" style="padding:5px;">
                                资源路径
                            </td>
                            <td style="padding:5px;">
                                <input class="form-control" readonly="readonly" name="ResourceURL" style="width: 180px;" />
                            </td>
                            <td align="right" style="padding:5px;">
                                描述
                            </td>
                            <td style="padding:5px;">
                                <input class="form-control" readonly="readonly" name="ResourceDesc" style="width: 180px;" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" style="padding:5px;">
                                父资源
                            </td>
                            <td style="padding:5px;">
                                <input class="form-control" readonly="readonly" name="ParentName" style="width: 180px;" />
                            </td>
                            <td align="right" style="padding:5px;">
                                排序
                            </td>
                            <td style="padding:5px;">
                                <input class="form-control" readonly="readonly" name="OrderIndex" style="width: 180px;" />
                            </td>
                            <td colspan="2">
                                <input name="ID" type="hidden" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="OperatorGrid">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var common = new CommonBUI({ controller: "SResource", DataGrid: "#OperatorGrid", Btns: "#SResourceBtns" });
    var fcommon = new CommonBUI({ controller: "SResource", DataGrid: "#OperatorGrid", Btns: "#SResourceBtns" });
    var store = new BUI.Data.TreeStore(), tree, oGrid;

    //初始化布局
    function initLayout() {
        var layoutControl = new BUI.Layout.BuiLayout({
            srcNode: "#resource-layout",
            render: "parent",
            children: [{
                srcNode: "#resource-layout-west",
                xclass: 'controller',
                region: 'west',
                width: 200
            }, {
                srcNode: "#resource-layout-center",
                xclass: 'controller',
                region: 'center'
            }]
        });
        layoutControl.render();
    }

    //初始化结构树
    function initTree() {
        tree = new BUI.Tree.TreeList({
            render: '#resource-layout-west',
            store: store
        });
        tree.render();

        tree.on('itemclick', function (ev) {
            var item = ev.item;
            loadGrid(item.id);
            loadResource(item.id);
        });

        common.search();
    }

    //初始化grid
    function initGrid(initData) {
        oGrid = new BUIGrid({
            render: fcommon.DataGrid,
            common: fcommon,
            pager: false
        });
        oGrid.init();
    }

    //查询按钮
    function loadGrid(resId) {
        common.SelectDetail("SOperator", resId, 1, 20, function (result) {
            oGrid.setResult(result);
        });
    }

    //查询资源
    function loadResource(resId) {
        common.get(common.controller, "SearchSingle", "Id=" + resId, function (data) {
            $("#SResourceForm .form-control").each(function () {
                $(this).val(data[this.name]);
            });
        });
    }

    //添加
    common.add = function () {
        var dialog = new BUI.Overlay.Dialog({
            title: "添加",
            width: 800,
            height: 550,
            mask: true,
            closeAction: "destroy",
            bodyContent: '<iframe id="ifrmSearch" scrolling="auto" frameborder="0"  src="../SResource/AddView" style="width:100%;height:100%;"></iframe>',
            success: function () {
                var data = CommonBUI.ExcuteIFrameMethod("ifrmSearch", "getData");
                if (data) {
                    common.Insert(data, function () {
                        dialog.close();
                        common.search();
                    });
                }
            }
        });
        dialog.show();
    }

    //删除
    common.remove = function () {
        var deleteRow = tree.getSelected();
        if (deleteRow) {
            if (deleteRow.children.length > 0) {
                CommonBUI.alert("提示", "节点存在子节点,不能删除.");
                return false;
            } else {
                common.Delete(deleteRow.id, function () {
                    common.search();
                });
            }
        } else {
            CommonBUI.alert("提示", "请选择删除菜单.");
            return false;
        }
    }

    //查询
    common.search = function () {
        common.get(common.controller, "GetTree", "", function (treedata) {
            store.setResult(treedata);
        });
    }

    //编辑
    common.edit = function () {
        var deleteRow = tree.getSelected();
        if (deleteRow) {
            var dialog = new BUI.Overlay.Dialog({
                title: "添加",
                width: 800,
                height: 550,
                mask: true,
                closeAction: "destroy",
                bodyContent: '<iframe id="ifrmSearch" scrolling="auto" frameborder="0"  src="../SResource/UpdateView?id=' + deleteRow.id + '" style="width:100%;height:100%;"></iframe>',
                success: function () {
                    var data = CommonBUI.ExcuteIFrameMethod("ifrmSearch", "getData");
                    if (data) {
                        common.Update(data, function () {
                            dialog.close();
                            common.search();
                        });
                    }
                }
            });
            dialog.show();
        } else {
            CommonBUI.alert("提示", "请选择编辑菜单.");
        }
    }

    $(document).ready(function () {
        //初始化布局
        initLayout();

        //初始化
        common.Init(function (iData) {
            //按钮初始化
            common.InitCommonds(common, $(common.Btns), iData.Commands);
        });

        //外键初始化
        common.ForeignInit("OPerator", function (fdata) {
            fcommon.initData = fdata;
            initGrid();
        });

        //初始化组织结构树
        initTree();
    });
</script>
