@using ESC.WebCore.Helpers

@{
    SUser CurrentUser = ViewBag.CurrentUser;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ESC.WebCore</title>
    <link href="~/lib/bui/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bui/css/bui.css" rel="stylesheet" />
    <link href="~/lib/bui/fonts/iconfont.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/plugins/jquery.js"></script>
    <script type="text/javascript" src="~/lib/plugins/SimpleAjaxUploader.js"></script>
</head>
<body>
    <div id="bui-layout" class="bui-view-port bui-border-layout">
        <div class="bui-layout-border">
            <div class="bui-border-top">
                <div id="bui-layout-north" style="height:50px;" class="bui-border-north bui-layout-item-border">
                    <div id="mainNav" class="main-header">
                        <a href="#" class="logo">
                            <b>ESC</b>wms
                        </a>
                        <div class="header-nav">
                            <a href="/Login/Logout" id="btnExit" class="header-right">
                                &nbsp; <i class="iconfont icon-tuichu"></i>退出 &nbsp;
                            </a>
                            <a href="/Login/UpdatePwd" id="btnUpdPwd" class="header-right">
                                &nbsp;<i class="iconfont icon-xiugaimima"></i> 修改密码 &nbsp;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bui-border-middle" style="min-height:400px;">
                <div id="bui-layout-west" style="width:230px;" class="bui-border-west bui-layout-item-border">
                    <ul class="bui-side-menu sidebar-menu" id="mainMenu">
                        @await Component.InvokeAsync("SideMenu", new { userId = CurrentUser.ID, superUser = CurrentUser.SuperUser, url = Context.Request.Path.Value })
                    </ul>
                </div>
                <div id="bui-layout-center" style="overflow-y:auto;" class="bui-border-center bui-layout-item-border">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/bui/01common.js"></script>
    <script type="text/javascript" src="~/lib/bui/02cookie.js"></script>
    <script type="text/javascript" src="~/lib/bui/03data.js"></script>
    <script type="text/javascript" src="~/lib/bui/04mask.js"></script>
    <script type="text/javascript" src="~/lib/bui/05list.js"></script>
    <script type="text/javascript" src="~/lib/bui/06dropdowns.js"></script>
    <script type="text/javascript" src="~/lib/bui/07pagination.js"></script>
    <script type="text/javascript" src="~/lib/bui/08overlay.js"></script>
    <script type="text/javascript" src="~/lib/bui/09picker.js"></script>
    <script type="text/javascript" src="~/lib/bui/10calendar.js"></script>
    <script type="text/javascript" src="~/lib/bui/11tooltip.js"></script>
    <script type="text/javascript" src="~/lib/bui/12tree.js"></script>
    <script type="text/javascript" src="~/lib/bui/13form.js"></script>
    <script type="text/javascript" src="~/lib/bui/14grid.js"></script>
    <script type="text/javascript" src="~/lib/bui/16menu.js"></script>
    <script type="text/javascript" src="~/lib/bui/19layout.js"></script>
    <script type="text/javascript" src="~/lib/BuiCommon.js"></script>
    <script type="text/javascript" src="~/lib/BuiForm.js"></script>
    <script type="text/javascript" src="~/lib/BuiGrid.js"></script>
    <script type="text/javascript" src="~/lib/BuiMain.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
