
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="CommonEnumForm">
    <ul class="bui-search-ul">
        <li class="bui-inline-block">
            <label>枚举类型：</label>
            <span>
                <input type="text" class="form-control" name="EnumType" />
            </span>
        </li>
        <li class="bui-inline-block">
            <label>字段名称：</label>
            <span>
                <input type="text" class="form-control" name="EnumName" />
            </span>
        </li>
        <li class="bui-inline-block">
            <label>枚举值：</label>
            <span>
                <input type="text" class="form-control" name="EnumField" />
            </span>
        </li>
        <li class="bui-inline-block">
            <span id="CommonEnumBtns" class="SearchBtns">
            </span>
        </li>
    </ul>
</div>
<div id="CommonEnumGrid">
</div>
<div style="height:0;visibility:hidden">
    <iframe style="height:0;" id="download"></iframe>
</div>
@section Scripts{
    <script type="text/javascript">
        var common = new CommonBUI({ controller: "SCommonEnum", SearchForm: "#CommonEnumForm", DataGrid: "#CommonEnumGrid" });
        var bGrid = null;

        //查询
        common.search = function () {
            var whereItems = BuiForm.GetWhereItems(common.SearchForm, common);
            common.Select(whereItems, 0, 0, function (result) {
                bGrid.setResult(result);
            });
        }

        //删除
        common.remove = function () {
            var deleteRow = bGrid.getSelected();
            common.Delete(deleteRow, function () {
                common.search();
            });
        }

        //添加
        common.add = function () {
            var form = new BuiForm({ common: common, data: {}, type: "add" });

            form.save = function (data) {
                common.Insert(data, function () {
                    common.search();
                    form.close();
                });

            }

            form.show(900, 200);
        }

        //编辑
        common.edit = function () {
            var editRow = bGrid.getSelected();
            if (editRow == null) {
                CommonBUI.alert("提示", "请选择编辑的记录.", "warning");
                return false;
            }
            var form = new BuiForm({ data: editRow, common: common, type: "edit" });

            form.save = function (data) {
                common.Update(data, function () {
                    common.search();
                    form.close();
                });
            }
            form.show(900, 200);
        }

        //生成实体
        common.createCls = function () {
            $("#download").attr("src", "../SCommonEnum/GetEnumClass");
        }

        //初始化grid
        function initGrid(iData) {
            bGrid = new BUIGrid({
                render: common.DataGrid,
                common: common
            });

            //分页查询
            bGrid.OnPageSearch = function (pageIndex, pageSize) {
                var whereItems = BuiForm.GetWhereItems(common.SearchForm, common);
                common.Select(whereItems, pageIndex, pageSize, function (result) {
                    bGrid.setResult(result);
                });
            }
            bGrid.init();
            common.search();
        }

        $(document).ready(function () {
            //初始化
            common.Init(function (iData) {
                //按钮初始化
                common.InitCommonds(common, $("#CommonEnumBtns"), iData.Commands);
                //初始化grid
                initGrid(iData);
            });

            //绑定回车查询
            $(common.SearchForm).find("input:text").keyup(function (e) {
                if (e.which == BUI.KeyCode.ENTER) {
                    common.search();
                }
            });
        });

    </script>
}
