@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="UserForm">
    <ul class="bui-search-ul">
        <li class="bui-inline-block">
            <label>编码：</label>
            <span>
                <input type="text" class="form-control" name="UserCode" />
            </span>
        </li>
        <li class="bui-inline-block">
            <label>名称：</label>
            <span>
                <input type="text" class="form-control" name="UserName" />
            </span>
        </li>
        <li class="bui-inline-block">
            <label>是否管理员：</label>
            <span>
                <select class="form-control" name="SuperUser">
                    <option selected="selected" value="">全部</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </span>
        </li>
        <li class="bui-inline-block">
            <label>创建时间：</label>
            <span>
                <input class="form-control calendar" type="text" name="CreateDate_begin" />
            </span>
            <span>-</span>
            <span>
                <input class="form-control calendar" type="text" name="CreateDate_end" />
            </span>
        </li>
        <li class="bui-inline-block">
            <span id="UserBtns" class="SearchBtns">
            </span>
        </li>
    </ul>
</div>
<div id="UserGrid">
</div>
@section Scripts{
    <script type="text/javascript">
        var common = new CommonBUI({ controller: "SUser", SearchForm: "#UserForm", DataGrid: "#UserGrid" });
        var bGrid = null;

        //查询
        common.search = function () {
            var whereItems = BuiForm.GetWhereItems(common.SearchForm, common);
            common.Select(whereItems, 0, 0, function (result) {
                bGrid.setResult(result);
            });
        }

        //删除
        common.remove = function () {
            var deleteRow = bGrid.getSelected();
            common.Delete(deleteRow, function () {
                common.search();
            });
        }

        //添加
        common.add = function () {
            var form = new BuiForm({ common: common, data: {}, type: "add" });

            form.save = function (data) {
                common.Insert(data, function () {
                    common.search();
                    form.close();
                });
            }

            //外键查询
            form.fSearch = function (opts) {
                if (BUI.isNullOrEmpty(opts.text) || opts.evttype == "click") {
                    searchOrg(form, opts);
                } else {
                    //查询业务伙伴
                    common.get("SOrganization", "GetOrganizationCodeName", "words=" + CommonBUI.UrlEncode(opts.text), function (rdata) {
                        if (rdata.result.length == 1) {
                            var data = rdata.result[0];
                            var target = opts.target;
                            target.setSearchValue(data.ID || 0);
                            target.setSearchText(data.OrgName || "");
                        } else {
                            searchOrg(form, opts);
                        }
                    });
                }
            }

            form.show(800, 300);
        }

        //编辑
        common.edit = function () {
            var editRow = bGrid.getSelected();
            if (editRow == null) {
                CommonBUI.alert("提示", "请选择编辑的记录.", "warning");
                return false;
            }
            var form = new BuiForm({ data: editRow, common: common, type: "edit" });

            //外键查询
            form.fSearch = function (opts) {
                if (BUI.isNullOrEmpty(opts.text) || opts.evttype == "click") {
                    searchOrg(form, opts);
                } else {
                    //查询业务伙伴
                    common.get("SOrganization", "GetOrganizationCodeName", "words=" + CommonBUI.UrlEncode(opts.text), function (rdata) {
                        if (rdata.result.length == 1) {
                            var data = rdata.result[0];
                            var target = opts.target;
                            target.setSearchValue(data.ID || 0);
                            target.setSearchText(data.OrgName || "");
                        } else {
                            searchOrg(form, opts);
                        }
                    });
                }
            }

            form.save = function (data) {
                common.Update(data, function () {
                    common.search();
                    form.close();
                });
            }
            form.show(800, 300);
        }

        //选择组织机构
        function searchOrg(frm, opts) {
            var dialog = new BUI.Overlay.Dialog({
                title: "选择组织",
                width: 300,
                height: 500,
                mask: true,
                closeAction: "destroy",
                bodyContent: '<iframe id="ifrmSearch" scrolling="auto" frameborder="0"  src="../SOrganization/SearchOrgView" style="width:100%;height:100%;"></iframe>',
                success: function () {
                    var data = CommonBUI.ExcuteIFrameMethod("ifrmSearch", "getData");
                    if (data) {
                        frm.setReturnValue(opts, data);
                        dialog.close();
                    } else {
                        CommonBUI.alert("提示", "请选择组织机构.");
                    }
                }
            });
            dialog.show();
        }

        //初始化grid
        function initGrid(iData) {
            bGrid = new BUIGrid({
                render: common.DataGrid,
                common: common
            });

            //分页查询
            bGrid.OnPageSearch = function (pageIndex, pageSize) {
                var whereItems = BuiForm.GetWhereItems(common.SearchForm, common);
                common.Select(whereItems, pageIndex, pageSize, function (result) {
                    bGrid.setResult(result);
                });
            }
            bGrid.init();
            common.search();
        }

        $(document).ready(function () {
            //初始化
            common.Init(function (iData) {
                //按钮初始化
                common.InitCommonds(common, $("#UserBtns"), iData.Commands);
                //初始化grid
                initGrid(iData);
            });

            var datepicker = new BUI.Calendar.DatePicker({
                trigger: '.calendar',
                autoRender: true
            });


            //绑定回车查询
            $("#UserForm").find("input:text").keyup(function (e) {
                if (e.which == BUI.KeyCode.ENTER) {
                    common.search();
                }
            });
        });

    </script>
    }
